:root {
  --primary-color: #00D1B2;
  --accent-blue: #3ABEFF;
  --deep-blue: #1F3A93;
  --light-bg: #F4F4F4;
}
body {
  background-color: var(--light-bg);
  color: var(--deep-blue);
}
.navbar {
  background-color: var(--deep-blue);
}

.navbar .navbar-brand,
.navbar .dropdown-toggle,
.navbar .dropdown-menu .dropdown-item {
  color: #fff;
}

.navbar .dropdown-toggle {
 background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--accent-blue) 100%
  );
  border: none;
  width: 160px;
}

.navbar .dropdown-menu {
 background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--accent-blue) 100%
  );
  text-align: center;
}

.navbar .dropdown-menu .dropdown-item:hover {
  background: linear-gradient(
    90deg,
    var(--deep-blue) 0%,
    var(--primary-color) 100%
  );
  color: #fff;
}